.text__button-main {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 77px;
  height: 36px;
  background: #140d40;
  border-radius: 46px;
  margin-top: 24px;
  border: none;
}

.text__button-main:hover {
  background: #2d1f79;
}

.text__button-main:active {
  background: #3b29a2;
}
