.wrapper__button-enter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 278px;
    height: 52px;
    background: #580EA2;
    border-radius: 46px;
}

.wrapper__button-enter:hover {
    background: #3F007D;
}

.wrapper__button-enter:active {
    background: #271A58;
}

.text__button-enter {
    color: #FFFFFF;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}