.text__button-up {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background: #c7e957;
  border-radius: 46px;
  width: 147px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 60px;
}

.text__button-up:hover {
  background: #daf289;
}

.text__button-up:active {
  background: #ebffab;
}
