.wrapper__button-save {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #580EA2;
    border-radius: 46px;
    width: 278px;
    height: 52px;
}

.wrapper__button-save:hover {
    background: #3F007D;
}

.wrapper__button-save:active {
    background: #271A58;
}

.text__button-save {
    color: #FFFFFF;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}