*::-webkit-scrollbar {
  width: 5px;
  height: 452px;

  /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15); /* цвет плашки */
  border-radius: 10px; /* закругления плашки */
  border: 5px solid rgba(0, 0, 0, 0.05); /* padding вокруг плашки */
}

.wrapper {
  display: flex;
  justify-content: center;
}



.title {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.title-workout {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-family: 'StratosSkyeng, sans-serif';
}

.block {
  margin-top: 26px;
}
.buttons {
  height: 452px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  overflow-y: scroll;
  
}

img {
  padding-left: 11px;
  margin-top: 11px;
}

.button__workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 278px;
  border: 1px solid #06b16e;
  border-radius: 26px;
  box-sizing: border-box;
  padding-bottom: 17px;
  margin-bottom: 15px;
}

.title-lesson {
  font-family: 'StratosSkyeng, sans-serif';
  color: #06b16e;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 11px;

}

.title-day {
  color: #06b16e;
  font-family: 'StratosSkyeng, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.select {
  display: flex;
  margin-bottom: 6px;
  margin-left: 50px;
}

.not-selected__title {
  font-family: 'StratosSkyeng, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 11px;
}

.not-selected__day {
  font-family: 'StratosSkyeng, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}