
.body_courses {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.courses_wrapper {
  margin-left: 140px;
  margin-right: 140px;
}

.courses_container {
  background-color: #fafafa;
}
